In [1]:
#import necessary packages
import pandas as pd
import numpy as np
#import gdown
import glob
import os 
import geopandas as gpd
import geopy.distance
from shapely.geometry import Point

In [2]:
os.getcwd() #double check active directory

'/nfshome/cb4102/MOB'

In [3]:
#2015 Data Import and Unzip
#google drive file_identifier = 1puXsYIPYZ_GHGAYa67CGEu4Ii8LexscD

!gdown https://drive.google.com/uc?id=1puXsYIPYZ_GHGAYa67CGEu4Ii8LexscD

#unzip file
!unzip taxitrip_2016.zip -d '/nfshome/cb4102/MOB'

/bin/sh: 1: gdown: not found
unzip:  cannot find or open taxitrip_2016.zip, taxitrip_2016.zip.zip or taxitrip_2016.zip.ZIP.

In [3]:
#2015 Data Import and Unzip
#google drive file_identifier = 0B4JuB6g9n_rmYXpUcVFFSmZ2QTg

!gdown https://drive.google.com/uc?id=0B4JuB6g9n_rmYXpUcVFFSmZ2QTg

#unzip to data folder
!unzip taxitrip_2015.zip -d '/nfshome/cb4102/MOB'

Archive:  taxitrip_2015.zip
  inflating: /nfshome/cb4102/MOB/taxi_2015_12.txt
  inflating: /nfshome/cb4102/MOB/README_DC_Taxicab_trip.txt
  inflating: /nfshome/cb4102/MOB/taxi_2015_05.txt
  inflating: /nfshome/cb4102/MOB/taxi_2015_06.txt
  inflating: /nfshome/cb4102/MOB/taxi_2015_07.txt
  inflating: /nfshome/cb4102/MOB/taxi_2015_08.txt
  inflating: /nfshome/cb4102/MOB/taxi_2015_09.txt
  inflating: /nfshome/cb4102/MOB/taxi_2015_10.txt
  inflating: /nfshome/cb4102/MOB/taxi_2015_11.txt

In [6]:
#2017 Data Import and Unzip
#google drive file_identifier = 0B4JuB6g9n_rmOG9YVk5uWWpZYVU

!gdown https://drive.google.com/uc?id=0B4JuB6g9n_rmOG9YVk5uWWpZYVU

#unzip to data folder
!unzip taxitrip_2017.zip -d '/nfshome/cb4102/MOB'

Archive:  taxitrip_2017.zip
  inflating: /nfshome/cb4102/MOB/taxi_2017_01.txt
  inflating: /nfshome/cb4102/MOB/taxi_2017_02.txt
  inflating: /nfshome/cb4102/MOB/taxi_2017_03.txt
  inflating: /nfshome/cb4102/MOB/taxi_2017_04.txt
  inflating: /nfshome/cb4102/MOB/taxi_2017_05.txt
  inflating: /nfshome/cb4102/MOB/taxi_2017_06.txt
  inflating: /nfshome/cb4102/MOB/taxi_2017_07.txt
  inflating: /nfshome/cb4102/MOB/README_DC_Taxicab_trip.txt

In [6]:
#import individual month as dataframes and concatenate

path =r'/nfshome/cb4102/MOB/Data' #set path for file import

allFiles = glob.glob(path + "/*.txt")

ride_data_all = pd.DataFrame()

file_list = []

for file_ in allFiles:
    df = pd.read_csv(file_, sep = '|', error_bad_lines=False, skipinitialspace=True, dtype=object)
    file_list.append(df)

ride_data_all = pd.concat(file_list)

In [4]:
ride_data_all.columns

Index(['OBJECTID', 'TRIPTYPE', 'PROVIDER', 'METERFARE', 'TIP', 'SURCHARGE',
       'EXTRAS', 'TOLLS', 'TOTALAMOUNT', 'PAYMENTTYPE', 'PAYMENTCARDPROVIDER',
       'PICKUPCITY', 'PICKUPSTATE', 'PICKUPZIP', 'DROPOFFCITY', 'DROPOFFSTATE',
       'DROPOFFZIP', 'TRIPMILEAGE', 'TRIPTIME', 'PICKUP_BLOCK_LATITUDE',
       'PICKUP_BLOCK_LONGITUDE', 'PICKUP_BLOCKNAME', 'DROPOFF_BLOCK_LATITUDE',
       'DROPOFF_BLOCK_LONGITUDE', 'DROPOFF_BLOCKNAME', 'AIRPORT',
       'PICKUPDATETIME_TR', 'DROPOFFDATETIME_TR'],
      dtype='object')

In [5]:
ride_data_all.shape

(31542958, 28)

In [6]:
ride_data_all.head()

,OBJECTID,TRIPTYPE,PROVIDER,METERFARE,TIP,SURCHARGE,EXTRAS,TOLLS,TOTALAMOUNT,PAYMENTTYPE,...,TRIPTIME,PICKUP_BLOCK_LATITUDE,PICKUP_BLOCK_LONGITUDE,PICKUP_BLOCKNAME,DROPOFF_BLOCK_LATITUDE,DROPOFF_BLOCK_LONGITUDE,DROPOFF_BLOCKNAME,AIRPORT,PICKUPDATETIME_TR,DROPOFFDATETIME_TR
0,4887,PSP,United Ventures,6.49,2.00,0.25,0.25,0.00,8.74,CreditCard,...,7,38.905199,-77.040856,1130 - 1199 BLOCK OF CONNECTICUT AVENUE NW,38.915929,-77.031954,1900 - 1920 BLOCK OF 14TH STREET NW,N,02/21/2016 00:00,02/21/2016 00:00
1,4888,PSP,United Ventures,17.02,0.00,0.25,0.25,0.00,17.27,Cash,...,19,38.921512,-77.072284,2301 - 2499 BLOCK OF WISCONSIN AVENUE NW,NaN,NaN,NaN,N,02/20/2016 23:00,02/20/2016 23:00
2,4889,PSP,United Ventures,30.25,0.00,0.25,1.25,0.00,31.50,Cash,...,29,38.909243,-77.031952,1400 - 1499 BLOCK OF 14TH STREET NW,NaN,NaN,NaN,N,02/20/2016 21:00,02/20/2016 21:00
3,4890,PSP,United Ventures,17.02,2.00,0.25,0.25,0.00,19.27,CreditCard,...,22,38.902525,-77.040567,1700 - 1799 BLOCK OF K STREET NW,NaN,NaN,NaN,N,02/24/2016 19:00,02/24/2016 19:00
4,4891,PSP,Hitch,3.25,0.00,0.00,0.25,0.00,3.50,Cash,...,0,NaN,NaN,NaN,NaN,NaN,NaN,N,02/25/2016 13:00,02/25/2016 13:00

In [7]:
#create a filtered dataframe with just the fields needed
ride_data_all.drop(['TRIPTYPE','PROVIDER','METERFARE','TIP','SURCHARGE','EXTRAS','TOLLS','PAYMENTTYPE','PAYMENTCARDPROVIDER','PICKUPCITY','DROPOFFCITY','PICKUP_BLOCKNAME','DROPOFF_BLOCKNAME'],axis=1,inplace=True)

In [ ]:
ride_data_all.shape #check shape

(31542958, 15)

In [8]:
ride_data_all['year'] = ride_data_all['PICKUPDATETIME_TR'].str[6:-6] #splice out year from date string

In [9]:
ride_data_all.head()

,OBJECTID,TOTALAMOUNT,PICKUPSTATE,PICKUPZIP,DROPOFFSTATE,DROPOFFZIP,TRIPMILEAGE,TRIPTIME,PICKUP_BLOCK_LATITUDE,PICKUP_BLOCK_LONGITUDE,DROPOFF_BLOCK_LATITUDE,DROPOFF_BLOCK_LONGITUDE,AIRPORT,PICKUPDATETIME_TR,DROPOFFDATETIME_TR,year
0,4887,8.74,District of Columbia,20036,District of Columbia,20009,1.00,7,38.905199,-77.040856,38.915929,-77.031954,N,02/21/2016 00:00,02/21/2016 00:00,2016
1,4888,17.27,District of Columbia,20007,Maryland,20814,6.00,19,38.921512,-77.072284,NaN,NaN,N,02/20/2016 23:00,02/20/2016 23:00,2016
2,4889,31.50,District of Columbia,20005,Virginia,22304,11.00,29,38.909243,-77.031952,NaN,NaN,N,02/20/2016 21:00,02/20/2016 21:00,2016
3,4890,19.27,District of Columbia,20006,Virginia,22202,5.00,22,38.902525,-77.040567,NaN,NaN,N,02/24/2016 19:00,02/24/2016 19:00,2016
4,4891,3.50,NaN,NaN,NaN,NaN,0.00,0,NaN,NaN,NaN,NaN,N,02/25/2016 13:00,02/25/2016 13:00,2016

In [ ]:
ride_data_all['year'].unique() #check to make sure all years occur

array(['2016', '2015', '2017', nan], dtype=object)

In [ ]:
#drop entries where we are missing location characteristics
ride_data_all.dropna(subset=['PICKUP_BLOCK_LATITUDE','PICKUP_BLOCK_LONGITUDE', 'DROPOFF_BLOCK_LATITUDE','DROPOFF_BLOCK_LONGITUDE'],inplace=True)

In [ ]:
ride_data_all['year'].unique() #check we still have all years

In [ ]:
ride_data_all.info() #lost 8-9M

In [ ]:
#convert columns to correct column types
ride_data_all['TRIPMILEAGE'] = ride_data_all['TRIPMILEAGE'].astype(float) #mileage to float
ride_data_all['TRIPTIME'] = ride_data_all['TRIPTIME'].astype(float) #trip time to float
ride_data_all['PICKUPDATETIME_TR'] = pd.to_datetime(ride_data_all['PICKUPDATETIME_TR']) #pick up time to date
ride_data_all['DROPOFFDATETIME_TR'] = pd.to_datetime(ride_data_all['DROPOFFDATETIME_TR']) #drop off time to date
ride_data_all['PICKUP_BLOCK_LATITUDE'] = ride_data_all['PICKUP_BLOCK_LATITUDE'].astype(float)
ride_data_all['PICKUP_BLOCK_LONGITUDE'] = ride_data_all['PICKUP_BLOCK_LONGITUDE'].astype(float)
ride_data_all['DROPOFF_BLOCK_LATITUDE'] = ride_data_all['DROPOFF_BLOCK_LATITUDE'].astype(float)
ride_data_all['DROPOFF_BLOCK_LONGITUDE'] = ride_data_all['DROPOFF_BLOCK_LONGITUDE'].astype(float)

In [ ]:
ride_data_all = ride_data_all[ride_data_all['TRIPMILEAGE'] > 0] #filter out where trip mileage is zero or less

In [ ]:
ride_data_all['year'].unique() #check we still have all years

In [ ]:
ride_data_all = ride_data_all[ride_data_all['TRIPTIME'] > 0] #filter out where trip time is zero

In [ ]:
#ride_data_all['year'].unique() #check we still have all year

In [ ]:
#create coordinate columns from the lat-lon columns

#ride_data_all['START_CORD'] = list(zip(ride_data_all['PICKUP_BLOCK_LATITUDE'], ride_data_all['PICKUP_BLOCK_LONGITUDE']))

In [ ]:
#ride_data_all['END_CORD'] = list(zip(ride_data_all['DROPOFF_BLOCK_LATITUDE'], ride_data_all['DROPOFF_BLOCK_LONGITUDE']))

In [ ]:
#check coordinate columns
#ride_data_all.head()

In [ ]:
#calculate new distance

#def distancer(row):
 #   coords_1 = (row['PICKUP_BLOCK_LATITUDE'], row['PICKUP_BLOCK_LONGITUDE'])
  #  coords_2 = (row['DROPOFF_BLOCK_LATITUDE'], row['DROPOFF_BLOCK_LONGITUDE'])
   # return geopy.distance.VincentyDistance(coords_1, coords_2).miles

#ride_data_all['pickup_dropoff_distance'] = ride_data_all.apply(distancer, axis=1)

#ride_data_all['DIST_CALC'] = geopy.distance.vincenty(ride_data_all['START_CORD'], ride_data_all['END_CORD']).miles
#df.apply(lambda row: geopy.distance.vincenty(site_coords, (row.Latitude, row.Longitude)).km, axis=1)

In [ ]:
ride_data_all.shape

In [ ]:
#dc_clean_all = ride_data_all[ride_data_all['TRIPMILEAGE'] < 400] #filter out where calculated distance exceed 500

In [ ]:
#drop all trip times that are more than 8 standard deviations from the mean
dc_clean_all = dc_clean_all[np.abs(dc_clean_all['TRIPTIME'] - dc_clean_all['TRIPTIME'].mean()) <= (8*dc_clean_all['TRIPTIME'].std())]
dc_clean_all = dc_clean_all[np.abs(dc_clean_all['TRIPMILEAGE'] - dc_clean_all['TRIPMILEAGE'].mean()) <= (8*dc_clean_all['TRIPMILEAGE'].std())]

In [ ]:
dc_clean_all['AVG_SPEED'] = ride_data_all['TRIPMILEAGE'] / dc_clean_all['TRIPTIME'] #calculate avg speed of a ride

In [ ]:
dc_clean_all = dc_clean_all[dc_clean_all['AVG_SPEED'] < 80]s

In [ ]:
dc_clean_all = dc_clean_all[dc_clean_all['AVG_SPEED'] > 1]

In [ ]:
#export the data before outliers have been removed
ride_data_all.to_csv('dc_trips_raw2.csv',sep=',',encoding='utf-8')

In [ ]:
#export the cleaned data
ride_data_all.to_csv('dc_clean_all.csv',sep=',',encoding='utf-8')