In [2]:
import pandas as pd
import geopandas as gpd

In [8]:
!unzip tl_2018_11_tract.zip

Archive:  tl_2018_11_tract.zip
 extracting: tl_2018_11_tract.cpg
  inflating: tl_2018_11_tract.dbf
  inflating: tl_2018_11_tract.prj
  inflating: tl_2018_11_tract.shp
  inflating: tl_2018_11_tract.shp.ea.iso.xml
  inflating: tl_2018_11_tract.shp.iso.xml
  inflating: tl_2018_11_tract.shx

In [4]:
#https://www.census.gov/cgi-bin/geo/shapefiles/index.php?year=2018&layergroup=Census+Tracts
dc_tracts = gpd.read_file('Shapefiles/tl_2018_11_tract.shp')

In [5]:
dc_tracts.shape

(179, 13)

In [12]:
dc_tracts.head()

,STATEFP,COUNTYFP,TRACTCE,GEOID,NAME,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
0,11,001,003700,11001003700,37,Census Tract 37,G5020,S,292372,0,+38.9228614,-077.0343330,"POLYGON ((-77.0365 38.919284, -77.036493999999..."
1,11,001,003800,11001003800,38,Census Tract 38,G5020,S,356114,0,+38.9216348,-077.0391794,"POLYGON ((-77.04268399999999 38.922661, -77.04..."
2,11,001,004001,11001004001,40.01,Census Tract 40.01,G5020,S,271211,2414,+38.9208738,-077.0462674,POLYGON ((-77.05018099999999 38.92124099999999...
3,11,001,004002,11001004002,40.02,Census Tract 40.02,G5020,S,194755,0,+38.9181186,-077.0437209,"POLYGON ((-77.046297 38.916311, -77.0462989999..."
4,11,001,003600,11001003600,36,Census Tract 36,G5020,S,305616,0,+38.9236744,-077.0296273,"POLYGON ((-77.03240699999999 38.926573, -77.03..."

In [13]:
!unzip tl_2018_24_tract.zip

Archive:  tl_2018_24_tract.zip
 extracting: tl_2018_24_tract.cpg
  inflating: tl_2018_24_tract.dbf
  inflating: tl_2018_24_tract.prj
  inflating: tl_2018_24_tract.shp
  inflating: tl_2018_24_tract.shp.ea.iso.xml
  inflating: tl_2018_24_tract.shp.iso.xml
  inflating: tl_2018_24_tract.shx

In [7]:
mary_tracts = gpd.read_file('Shapefiles/tl_2018_24_tract.shp')

In [15]:
mary_tracts.head()

,STATEFP,COUNTYFP,TRACTCE,GEOID,NAME,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
0,24,033,807304,24033807304,8073.04,Census Tract 8073.04,G5020,S,1776714,0,+39.0249780,-076.9594342,"POLYGON ((-76.971706 39.018576, -76.9716359999..."
1,24,033,807305,24033807305,8073.05,Census Tract 8073.05,G5020,S,3030483,4428,+39.0121779,-076.9635510,"POLYGON ((-76.977278 39.010947, -76.977142 39...."
2,24,033,807405,24033807405,8074.05,Census Tract 8074.05,G5020,S,7093435,27200,+39.0383526,-076.9283090,"POLYGON ((-76.94985699999999 39.022085, -76.94..."
3,24,015,031400,24015031400,314,Census Tract 314,G5020,S,41540206,6724905,+39.6933253,-076.1659592,"POLYGON ((-76.233279 39.721367, -76.224175 39...."
4,24,015,030503,24015030503,305.03,Census Tract 305.03,G5020,S,41979711,1866517,+39.6210604,-075.8565829,"POLYGON ((-75.93251699999999 39.643774, -75.93..."

In [8]:
mary_tracts.crs

{'init': 'epsg:4269'}

In [17]:
dc_tracts.crs

{'init': 'epsg:4269'}

In [18]:
mary_tracts.shape

(1406, 13)

In [19]:
!unzip tl_2018_51_tract.zip

Archive:  tl_2018_51_tract.zip
 extracting: tl_2018_51_tract.cpg
  inflating: tl_2018_51_tract.dbf
  inflating: tl_2018_51_tract.prj
  inflating: tl_2018_51_tract.shp
  inflating: tl_2018_51_tract.shp.ea.iso.xml
  inflating: tl_2018_51_tract.shp.iso.xml
  inflating: tl_2018_51_tract.shx

In [9]:
virg_tracts = gpd.read_file('Shapefiles/tl_2018_51_tract.shp')

In [22]:
virg_tracts.shape

(1907, 13)

In [10]:
virg_df = pd.DataFrame(virg_tracts)

In [11]:
dc_df = pd.DataFrame(dc_tracts)

In [12]:
mary_df = pd.DataFrame(mary_tracts)

In [13]:
all_shapes = pd.concat([virg_df,dc_df,mary_df], ignore_index=True)

In [14]:
geometry= all_shapes['geometry']
crs = {'init': 'epsg:4269'}
all_state_geo = gpd.GeoDataFrame(all_shapes, crs=crs, geometry=geometry)

In [15]:
type(all_state_geo)

geopandas.geodataframe.GeoDataFrame

In [26]:
all_state_geo = pd.DataFrame(all_state_geo)

In [17]:
all_state_geo.to_csv('all_state_CTs.csv') #export csv

In [30]:
geometry= all_state_geo['geometry']
crs = {'init': 'epsg:4269'}
all_state_geo = gpd.GeoDataFrame(all_state_geo, crs=crs, geometry=geometry)

In [31]:
all_state_geo.to_file('merged_CTs.shp',driver='ESRI Shapefile')

In [20]:
all_state_geo.head()

,STATEFP,COUNTYFP,TRACTCE,GEOID,NAME,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
0,51,179,010502,51179010502,105.02,Census Tract 105.02,G5020,S,14055402,618196,+38.2809373,-077.4125747,"POLYGON ((-77.458085 38.304298, -77.457764 38...."
1,51,179,010207,51179010207,102.07,Census Tract 102.07,G5020,S,7656808,411682,+38.4803399,-077.4060766,"POLYGON ((-77.433375 38.49089, -77.43328 38.49..."
2,51,179,010406,51179010406,104.06,Census Tract 104.06,G5020,S,6504006,276922,+38.3051765,-077.4335641,"POLYGON ((-77.471358 38.319528, -77.471127 38...."
3,51,179,010103,51179010103,101.03,Census Tract 101.03,G5020,S,5070893,395956,+38.4589777,-077.3928997,"POLYGON ((-77.406522 38.460714, -77.406516 38...."
4,51,179,010301,51179010301,103.01,Census Tract 103.01,G5020,S,65673133,412218,+38.4537694,-077.5712426,"POLYGON ((-77.634309 38.464559, -77.6342799999..."

In [21]:
all_state_geo.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 3492 entries, 0 to 3491
Data columns (total 13 columns):
STATEFP     3492 non-null object
COUNTYFP    3492 non-null object
TRACTCE     3492 non-null object
GEOID       3492 non-null object
NAME        3492 non-null object
NAMELSAD    3492 non-null object
MTFCC       3492 non-null object
FUNCSTAT    3492 non-null object
ALAND       3492 non-null int64
AWATER      3492 non-null int64
INTPTLAT    3492 non-null object
INTPTLON    3492 non-null object
geometry    3492 non-null object
dtypes: int64(2), object(11)
memory usage: 354.7+ KB